<!DOCTYPE html>
<html>
  <head>
    <title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %>😎</h1>
    <img
      src="<%= destination.image %>"
      alt="<%= destination.name %>"
      width="200"
    />
    <p><%= destination.description %></p>
    <h2>Activity</h2>
    <ul>
        <% activities.forEach(activity => { %>
          <li><%= activity.description %></li>
        <% }) %>
      </ul>
    <h2>Reviews</h2>
    <ul>
        <% reviews.forEach(review => { %>
          <li>Rating: <%= review.rating %> - <%= review.comment %></li>
        <% }) %>
      </ul>
  </body>
</html>
