<!DOCTYPE html>
<html>
  <head>
    <title>Travel Guide</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body style="margin: 20px 20px">
    <h1><%= name %>😎</h1>
    <h2><%= description %></h2>
    <div style="display: flex; flex-direction: row">
      <div
        style="
          width: 40%;
          margin-right: 30px;
          padding: 5px;
          background-color: rgba(128, 41, 235, 0.411);
          border-radius: 10px;
        "
      >
        <div style="display: flex; justify-content: center">
          <img
            src="<%= image %>"
            alt="image:<%= name %>"
            style="
              width: 400px;
              height: 400px;
              margin-top: 20px;
            "
          />
        </div>
        <h2 style="text-align: start">Activity</h2>
        <ul>
          <% activities.forEach(activity => { %>
          <li><%= activity.description %></li>
          <% }) %>
        </ul>
      </div>

      <div>
        <h3 style="text-align: start">Reviews</h3>
        <form
          action="/api/destinations/<%= id %>/reviews"
          method="GET"
        >
          <label for="rating">Filter by Rating:</label>
          <input
            type="number"
            name="rating"
            min="1"
            max="5"
            value="<%= reviews.forEach(review => {review.rating}) %>"
            placeholder="All"
          />
          <button type="submit">Filter</button>
        </form>
        <ul>
          <% reviews.forEach(review => { %>
          <li>
            <b>Rating:</b><%= review.rating %> - <%=
            review.comment%><br />
            <form
              action="/api/reviews/<%= review.id %>/edit"
              method="GET"
              style="display: inline"
            >
              <button>Edit</button>
            </form>
            <form
              action="/api/reviews/<%= review.id %>?_method=DELETE"
              method="POST"
              style="display: inline"
            >
              <button>Delete</button>
            </form>
          </li>
          <br />
          <% }) %>
        </ul>
        <h3 style="text-align: start; margin-top: 50px">
          Add a Review
        </h3>
        <form action="/api/reviews/" method="POST">
          <input
            type="hidden"
            name="destinationId"
            value="<%= id %>"
          />

          <label for="rating">Rating:</label>
          <input
            type="number"
            name="rating"
            min="1"
            max="5"
            required
          />

          <label for="comment">Comment:</label>
          <input type="text" name="comment" required />

          <button type="submit">Submit Review</button>
        </form>
      </div>
    </div>
  </body>
</html>
